<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-5 mx-5 text-center text-nowrap">
      <%= link_to "パスワードを忘れましたか?", new_password_path(resource_name), class:" form-text" %>
    </div>
  </div>
<% end %>

<%- if controller_name != 'sessions' %>
  <div class="row justify-content-center">
    <div class="col-sm-5 col-md-6 col-10 mx-5 text-center">
      <p class="border-bottom border-dark border-1 fw-bold">既に登録済みの方はこちら</p>
    </div>
  </div>
  <div class="row mb-5 justify-content-center">
    <%= link_to "ログイン", new_session_path(resource_name), class:"col-xl-3 col-sm-4 col-9 btn btn-secondary" %><br />
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="row justify-content-center">
    <div class="col-sm-5 col-md-6 col-10 mx-5 text-center">
      <p class="border-bottom border-dark border-1 fw-bold">アカウント作成はこちら</p>
    </div>
  </div>
  <div class="row mb-5 justify-content-center px-0">
    <%= link_to "アカウント作成", new_registration_path(resource_name), class:"col-xl-3 col-sm-4 col-9 btn btn-secondary" %><br />
  </div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
  <% end %>
<% end %>
