<div class="row mx-5">
  <h3>コメント<span><%= writing.writing_comments.count %>件</span></h3>
</div>
<!-- コメントフォーム -->
<div class="row mb-3 mx-5">
  <%= form_with model: [writing, writing_comment], class:"form-inline" do |f| %>
    <div class="form-group">
      <%= f.text_area :comment, placeholder: "コメントをする", class:"form-control" %>
    </div>
      <%= f.submit "送信する", class:"btn btn-secondary" %>

  <% end %>
</div>
<!-- コメント一覧 -->
<% writing.writing_comments.each do |comment| %>
  <div class="row mx-5">
    <div style="width: 50px; height: 50px;" class="col-3">
      <p><%= image_tag comment.member.get_profile_image(50,50) %></p>
    </div>
    <div class="col-4" id="comment-<%= writing_comment.id %>">
      <p>
        <%= comment.member.name %></br>
        <%= comment.comment %></br>
        <%= time_ago_in_words(comment.created_at) %>前
      </p>
    </div>
    <div class="col-3">
      <p><%= link_to "削除", writing_writing_comment_path(comment.id), class: "" %></p>
    </div>
  </div>
<% end %>
