<div class="row">
  <h3>コメント<span><%= writing.writing_comments.count %>件</span></h3>
</div>
<!-- コメントフォーム -->
<%= form_with model: [writing, writing_comment], class:"" do |f| %>
  <div class="row mb-3">
    <div class="col-1 text-center">
      <!--<div class="rounded-circle">-->
          <%= image_tag current_member.get_profile_image(40,40), class:"border rounded-circle" %>
      <!--</div>-->
    </div>
    <div class="col-8">
      <%= f.text_field :comment, placeholder: "コメントをする", class:"form-control" %>
    </div>
    <div class="col-2 text-center">
      <%= f.submit "送信する", class:"btn btn-secondary" %>
    </div>
    <!--</div>-->
  </div>
<% end %>

<!-- コメント一覧 -->
<% writing.writing_comments.each do |comment| %>
  <div class="row d-flex align-items-center">
    <div style="height: 40px;" class="col-1 text-center">
      <%= image_tag comment.member.get_profile_image(40,40), class:"border rounded-circle" %>
    </div>
    <div class="col-8" id="comment-<%= writing_comment.id %>">
      <p>
        <small><%= comment.member.name %></small></br>
        <%= comment.comment %></br>
        <small><span class="fw-light"><%= time_ago_in_words(comment.created_at) %>前</span></small>
      </p>
    </div>
    <div class="col-2 text-center">
      <%= link_to "削除", writing_writing_comment_path(writing_id: writing.id,id: comment.id), method: :delete, class: "text-decoration-none text-dark" %>
    </div>
  </div>
<% end %>
