<div class="col-8 mb-3">
  <!-- ワード検索機能 -->
  <%= form_with url: search_path, local: true, method: :get, class:"col-10 input-group" do |f| %>
    <%= f.text_field :word, placeholder: "作品検索", class: "form-control" %>
    <%= f.submit "検索", class: "btn btn-outline-success" do %>
      <i class="fa-regular fa-magnifying-glass"></i>
    <% end %>
  <% end %>
</div>
  <!--タグ検索機能-->
<div class="col-10 mb-3 border border-dark">
  <div class="row">
    <p class ="col">人気タグ</p>
    <%= link_to tags_path, class: "col ml-auto" do %>
     <p class="text-end">タグ一覧へ</p>
   <% end %>
  </div>
  <div class="mb-2">
  <% tag_list.each do |tag| %>
    <span class="border mx-1">
      <%= link_to tag.tag_name, tag_search_path(tag_id: tag.id) %>
      <%= "(#{tag.writings.published.count})" %>
    </span>
  <% end %>
  </div>
</div>