<!-- 作品編集画面 -->
<div>
  <h1>シナリオ・ルールを編集する</h1>
</div>
<div>
  <%= form_with model: @writing, url: writing_path(@writing.id), method: :patch, local: true , class: "" do |f| %>
    <table>
      <thead>
        <th>
          シナリオ・ルール情報(*は必須項目)
        </th>
      </thead>
      <tbody>
        <tr>
          <td>タイトル名</td>
          <td>
            <%= f.text_field :title, class: "", placeholder: "タイトル名" %>
          </td>
        </tr>
        <tr>
          <td>サムネイル画像</td>
          <td>
            <%= f.file_field :writing_image, accept: "image/*", class: "" %>
          </td>
          <!--<td>プレビュー表示</td>-->
          <!--<td></td>-->
        </tr>
        <tr>
          <td>シナリオ・ルール</td>
          <td>
            <%= f.select :writing_type, options_for_select({"シナリオ" => true, "ルール" => false}) %>
          </td>
          <td>TRPGルール</td>
          <td><%= f.collection_select :trpg_rule_id, @trpg_rules, :id, :title %></td>
        </tr>
        <tr>
          <td>シナリオ・ルール</br>データの添付</td>
          <td>
            <%= f.file_field :writing_zip, accept: 'application/zip' %>
          </td>
        </tr>
        <tr>
          <td>想定人数</td>
          <td>
            <%= f.text_field :min_players, placeholder: "00" %> ~ <%= f.text_field :max_players, placeholder: "00" %> 人
          </td>
          <td>想定時間<span>*</span></td>
          <td>
            <%= f.text_field :min_play_time, placeholder: "00" %> ~ <%= f.text_field :max_play_time, placeholder: "00" %> 時間
          </td>
        </tr>
        <tr>
          <td>想定難易度</td>
          <td>
            <span class="post_form">
              <span class="text">難しい</span>
              <%= f.radio_button :difficulty, 5 ,id: 'star5'%>
              <label for="star5">★</label>

              <%= f.radio_button :difficulty, 4 ,id: 'star4'%>
              <label for="star4">★</label>

              <%= f.radio_button :difficulty, 3 ,id: 'star3'%>
              <label for="star3">★</label>

              <%= f.radio_button :difficulty, 2 ,id: 'star2'%>
              <label for="star2">★</label>

              <%= f.radio_button :difficulty, 1 ,id: 'star1'%>
              <label for="star1">★</label>
              <span class="text">簡単</span>
            </span>
            <!--%= f.text_field :difficulty %>-->
          </td>
        </tr>
        <tr>
          <td>概要</td>
          <td>
            作品の概要を記述できます。</br>
            <%= f.text_area :summary, rows: '10', placeholder: "作品概要をここに記述してください。" %>
          </td>
        </tr>
        <tr>
          <td>タグ</td>
          <td>
            <p>カンマで区切ることで複数のタグを付けることができます。タグにスペースはご使用できません。</br>
            例：初心者向け,ホラー,短時間セッション</p>
            <p>既存のタグ一覧</p>
            <% @tag_list.each do |tags| %>
              <%= tags.tag_name %>
            <% end %>
            <div>
              <%= f.text_field :tag_name, value: @writing_tags %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <%= f.submit "更新して保存", class: "" %>
  <% end %>
</div>
