<div class="row my-5 justify-content-center">
  <div class="col-xl-11 col-12">
     <!--エラーメッセージ-->
    <% if @writing.errors.any? %>
      <div class="error-box"><!--エラーメッセージ表示start-->
        <h2><%= @writing.errors.count %> errors prohibited this book from being saved:</h2>
        <ul>
          <% @writing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!--エラーメッセージ表示end-->
    <!-- 新規作成 -->
    <div class="row my-3 border-bottom border-dark border-2">
      <div class="col">
        <h1>シナリオ・ルールを新しく作る</h1>
      </div>
    </div>
    <%= form_with model: @writing, method: :post, local: true , class: ""  do |f| %>
      <table class="table table-bordered">
        <thead>
          <th colspan="4" class="align-middle">
            シナリオ・ルール情報(*は必須項目)
          </th>
        </thead>
        <tbody class="">
          <tr>
            <td class="align-middle">タイトル名</td>
            <td colspan="3" class="">
              <%= f.text_field :title, class: "form-control form-control-sm border-dark", placeholder: "タイトル名" %>
            </td>
          </tr>
          <tr>
            <td class="align-middle">サムネイル画像</td>
            <td>
              <%= f.file_field :writing_image, accept: "image/*", class: "" %>
            </td>
            <!--<td class="align-middle">プレビュー表示</td>-->
            <!--<td></td>-->
          </tr>
          <tr>
            <td class="align-middle">シナリオ・ルール</td>
            <td class="pe-5">
              <%= f.select :writing_type, options_for_select({"シナリオ" => true, "ルール" => false}),{}, class:"" %>
            </td>
            <td class="align-middle">TRPGルール</td>
            <td><%= f.collection_select :trpg_rule_id, @trpg_rules, :id, :title %></td>
          </tr>
          <tr>
            <td class="align-middle">シナリオ・ルール</br>データの添付</td>
            <td>
              <p>*データはzip形式にした後、アップロードしてください。</p>
              <%= f.file_field :writing_zip, accept: 'application/zip' %>
            </td>
          </tr>
          <tr>
            <td class="align-middle">想定人数<span>*</span></td>
            <td>
              <%= f.text_field :min_players, placeholder: "00" %> ~ <%= f.text_field :max_players, placeholder: "00" %> 人
            </td>
            <td class="align-middle">想定時間<span>*</span></td>
            <td>
              <%= f.text_field :min_play_time, placeholder: "00" %> ~ <%= f.text_field :max_play_time, placeholder: "00" %> 時間
            </td>
          </tr>
          <tr>
            <td class="align-middle">想定難易度<span>*</span></td>
            <td colspan="3">
              <span class="post_form">
                <span class="text">難しい</span>
                <%= f.radio_button :difficulty, 5 ,id: 'star5'%>
                <label for="star5">★</label>

                <%= f.radio_button :difficulty, 4 ,id: 'star4'%>
                <label for="star4">★</label>

                <%= f.radio_button :difficulty, 3 ,id: 'star3'%>
                <label for="star3">★</label>

                <%= f.radio_button :difficulty, 2 ,id: 'star2'%>
                <label for="star2">★</label>

                <%= f.radio_button :difficulty, 1 ,id: 'star1'%>
                <label for="star1">★</label>
                <span class="text">簡単</span>
              </span>
            </td>
          </tr>
          <tr>
            <td class="align-middle">概要</td>
            <td colspan="3">
              <p>作品の概要を記述できます。</p>
              <%= f.text_area :summary, class:"form-control border-dark", rows: '10', placeholder: "作品概要をここに記述してください。" %>
            </td>
          </tr>
          <tr>
            <td class="align-middle">タグ</td>
            <td colspan="3">
              <p>カンマで区切ることで複数のタグを付けることができます。タグにスペースはご使用できません。</br>
              例：初心者向け,ホラー,短時間セッション</p>
              <div class="mb-2 p-1">
                <p class="mb-0">既存のタグ</p>
                <% @tag_list.each do |tags| %>
                <span class="border rounded-1 me-2 px-1">
                  <%= tags.tag_name %>
                </span>
                <% end %>
              </div>
              <div>
              <%= f.text_field :tag_name, class: "form-control border-dark" %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-12 text-end">
        <%= f.submit "新規作成", class: "btn btn-outline-primary fw-bold" %>
      </div>
    <% end %>
  </div>
</div>