<!-- 検索機能 -->
<%= render 'search' %>
<!-- 作品詳細画面-->
<h1><%= @writing.title%>の内容</h1>
<div>
  <%= image_tag @writing.get_thumbnail_image(100,100) %>
  <div>
    <% if @writing.liked_by?(current_member) %>
      <p>
        <%= link_to writing_writing_likes_path(@writing), method: :delete do %>
          ♥<%= @writing.writing_likes.count %> いいね
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to writing_writing_likes_path(@writing), method: :post do %>
          ♡<%= @writing.writing_likes.count %> いいね
        <% end %>
      </p>
    <% end %>
  </div>
</div>
<div>
  <div>
    <div>
      タイトル：
    </div>
    <%= @writing.title %>
  </div>
  <div>
    <div>TRPGルール：</div>
    <div>
      <%= @writing.trpg_rule.title %>
    </div>
  </div>
  <div>
    <div>シナリオ・ルール</div>
    <%= @writing.writing_type ? 'シナリオ' : 'ルール'  %>
  </div>
  <div>
    <div>想定人数：</div>
    <%= @writing.min_players %> ~ <%= @writing.max_players %> 人
  </div>
  <div>
    <div>想定時間：</div>
    <%= @writing.min_play_time %> ~ <%= @writing.max_play_time %>時間
  </div>
  <div>
    <div>難しさ</div>
    <%= @writing.difficulty %>
  </div>
  <!--タグ欄-->
  <div>タグ欄</div>
  <div>
    <% if @writing_tags.present? %>
      <% @writing_tags.each do |tag| %>
        <%= "#{tag.tag_name}(#{tag.writings.count})" %>
      <% end %>
    <% end%>
  </div>
  <div>
    更新日：<%= @writing.updated_at.strftime('%Y年%m月%d日 %H:%M')%>
  </div>
</div>
<!---->
<!-- 概要 -->
<div>
  <div>概要：</div>
  <div>
    <%= @writing.summary %>
  </div>
</div>
<% if member_signed_in? && current_member.id == @writing.member_id %>
  <%= link_to "作品の編集", edit_writing_path(@writing.id), class: "" %>
  <%= link_to "作品を削除", writing_path(@writing.id), class: "" %>
<% end %>
<!-- コメント欄 -->
<div>
  <h3>コメント<span><%= @writing.writing_comments.count %>件</span></h3>
</div>
<!-- コメントフォーム -->
<div>
  <%= form_with model: [@writing, @writing_comment] do |f| %>
    <%= f.text_area :comment, placeholder: "コメントをする" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
<!-- コメント一覧 -->
<div>
  <% @writing.writing_comments.each do |writing_comment| %>
    <p><%= image_tag writing_comment.member.get_profile_image(100,100) %></p>
    <p>
      <%= writing_comment.member.name %></br>
      <%= writing_comment.comment %></br>
      <%= time_ago_in_words(writing_comment.created_at) %>前
    </p>
    <p>
      <%= link_to "編集", writing_writing_comment_path(writing_comment.id), class: "" %>
      |
      <%= link_to "削除", writing_writing_comment_path(writing_comment.id), class: "" %>
    </p>
  <% end %>
</div>