<h1>プロフィールを編集</h1>

<%= form_with model: @member, url: admin_member_path(@member.id), method: :patch do |f| %>
  <div>
    <%= image_tag @member.get_profile_image(100,100)%>
    <%= f.file_field :profile_image, placeholder: "ファイルを選択", accept: "image/*", class: "", id: "" %>
  </div>
  <div>
    <label for="inputName">ニックネーム</label>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前" %>
  </div>
  <div>
    <label for="email">メールアドレス</label>
    <%= f.email_field :email, id:"email", placeholder:"sample@sample.com" %>
  </div>
  <div>
    <label for="inputIntroduction">自己紹介</label>
    <%= f.text_area :introduction, id:"inputIntroduction", placeholder:"よろしくお願いします！" %>
  </div>
  <div>
    <label>アカウント状況</label>
    <%= f.select :is_deleted, {"利用中" => false, "利用停止" => true} %>
  </div>
  <div>
    <!--= link_to "退会する", admin_members_nonpublic_path(@member.id), method: :patch, class: "" %>-->
    <%= f.submit "変更を保存"%>
  </div>

<% end %>

