<div class="row my-5 mx-0">
  <div class="col-lg-7 col-md-8 mx-auto border border-dark">
    <div class="row my-3 mx-0">
      <h2 class="text-center">TRPG Writing Lab <span class="d-sm-none"><br></span>へようこそ！</h2>
    </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row justify-content-center">
        <div class="col-sm-5 col-10 field mb-3 mx-5">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"form-control" %>
  </div>

  <div class="col-sm-5 col-10 field mb-3 mx-5">
    <%= f.label :password, class:"form-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class:"form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="col-sm-5 col-10 field  text-nowrap mb-3 mx-sm-5">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="col-12 actions mb-3">
    <div class="row justify-content-center">
      <%= f.submit "ログイン", class:"col-sm-3 col-9 btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render "admin/shared/links" %>
