<!-- コメント一覧-->
<% comments.each do |comment| %>
  <div class="row">
    <div class="col">
      <%= image_tag comment.member.get_profile_image(50,50)%>
    </div>
    <div class="col">
      <%= comment.member.name %></br>
      <%= comment.comment %></br>
      <%= comment.updated_at.strftime('%Y/%m/%d') %>
    </div>
    <div class="col">
      <%= comment.writing.member.name %></br>
      <%= link_to admin_writing_path(comment.writing.id, anchor: "comment-#{comment.id}") do %>
      <%= comment.writing.title %>
      <% end %>
    </div>
  </div>
<% end %>