<div class="row my-5 justify-content-center">
  <div class="col-xl-11 col-12">
    <div class="row my-3 border-bottom border-dark border-2">
      <h1>メンバーリスト</h1>
    </div>
    <div class="row mb-3">
      <div class="table-responsive-xl shadow-sm">
        <table class="table table-sm table-bordered text-nowrap">
          <thead>
            <tr class="text-center">
              <th colspan="2" style="width: 40%">メンバー名</th>
              <th style="width: 40%" class="px-5">好きなTRPG</th>
              <th style="width: 7%">いいね！</th>
              <th style="width: 13%">最終ログイン日</th>
            </tr>
          </thead>
          <% @members.each do |member| %>
          <tbody>
            <tr>
              <td rowspan="2" style="width: 5%" class="align-middle">
                <div class="text-center">
                  <%= link_to member_path(member.id) do %>
                    <%= image_tag member.get_profile_image(60,60), class: "border rounded-circle shadow-sm" %>
                  <% end %>
                </div>
              </td>
              <td>
                <%= link_to member_path(member.id), class:"link-dark text-decoration-none" do %>
                  <%= member.name %>
                <% end %>
              </td>
              <td rowspan="2" class="align-middle">
                <%= truncate("#{member.favorite_trpg}", length: 50) %>
              </td>
              <td rowspan="2" class="align-middle">
                <div class="text-center">
                  <%= member.total_likes %>
                </div>
              </td>
              <td rowspan="2" class="align-middle">
                <div class="text-center">
                  <%= member.last_sign_in_date %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <%= truncate("#{member.introduction}", length: 30) %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
    <div class="row mb-5">
      <%= paginate @members %>
    </div>
  </div>
</div>