<div class="row my-5 justify-content-center">
  <div class="col-10">
    <div class="row my-3 border-bottom border-dark border-2">
      <h1 class="">メンバーリスト</h1>
    </div>
    <div class="row mb-3">
      <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th colspan="2" style="width: 40%">メンバー名</th>
            <th style="width: 30%">好きなTRPG</th>
            <th style="width: 10%">いいね！</th>
            <th style="width: 20%">最終ログイン日</th>
          </tr>
        </thead>
        <% @members.each do |member| %>
        <tbody>
          <tr>
            <td rowspan="2" style="width: 10%" class="align-middle">
              <div class="text-center">
                <%= link_to member_path(member.id) do %>
                  <%= image_tag member.get_profile_image(60,60) %>
                <% end %>
              </div>
            </td>
            <td>
              <%= link_to member_path(member.id), class:"link-dark" do %>
                <%= member.name %>
              <% end %>
            </td>
            <td rowspan="2" class="align-middle">
              <%= member.favorite_trpg %>
            </td>
            <td rowspan="2" class="align-middle">
              <div class="text-center">
                <%= member.total_likes %>
              </div>
            </td>
            <td rowspan="2" class="align-middle">
              <div class="text-center">
                <%= member.last_sign_in_date %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= truncate("#{member.introduction}", length: 30) %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="row mb-5">
      <%= paginate @members %>
    </div>
  </div>
</div>