<div class="row my-5">
  <div class="col-lg-7 col-md-8 mx-auto border border-dark">
    <div class="row my-3">
      <h2 class="text-center">TRPG Writing Lab <span class="d-sm-none"><br></span>へようこそ！</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <div class="row justify-content-center">
        <div class="col-sm-5 col-10 field mb-3 mx-5">
          <%= f.label :name, class:"form-label" %><br />
          <%= f.text_field :name, placeholder: "ニックネーム", class:"form-control" %>
        </div>
        <div class="col-sm-5 col-10 field mb-3 mx-5">
          <%= f.label :email, class:"form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"form-control" %>
        </div>

        <div class="col-sm-5 col-10 field mb-3 mx-5">
          <%= f.label :password, class:"form-label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class:"form-control" %>
        </div>

        <div class="col-sm-5 col-10 field mb-3 mx-5">
          <%= f.label :password_confirmation, class:"form-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードの確認入力", class:"form-control" %>
        </div>

        <div class="col-12 actions mb-3">
          <div class="row justify-content-center">
            <%= f.submit "アカウント作成", class:"col-xl-3 col-sm-4 col-9 btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
    <%= render "public/shared/links" %>
  </div>
</div>
