<div class="row my-5">
  <div class="col-lg-7 col-md-8 mx-auto border border-dark">
    <div class="row my-3">
      <h2 class="text-center">TRPG Writing Lab へようこそ！</h2>
    </div>
    <div class="row mb-3">
      <h5 class="text-center">アカウント作成</h5>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <div class="row justify-content-center">
        <div class="col-5 field mb-3 mx-5">
          <%= f.label :name, class:"form-label" %><br />
          <%= f.text_field :name, placeholder: "ニックネーム", class:"form-control" %>
        </div>
        <div class="col-5 field mb-3 mx-5">
          <%= f.label :email, class:"form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"form-control" %>
        </div>

        <div class="col-5 field mb-3 mx-5">
          <%= f.label :password, class:"form-label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class:"form-control" %>
        </div>

        <div class="col-5 field mb-3 mx-5">
          <%= f.label :password_confirmation, class:"form-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードの確認入力", class:"form-control" %>
        </div>

        <div class="col-12 actions mb-3">
          <div class="row justify-content-center">
            <%= f.submit "アカウントを作成", class:"col-md-3 col-4 btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
    <%= render "public/shared/links" %>
  </div>
</div>
