  <table class="table">
    <thead>
      <tr>
        <th colspan="2">タイトル</th>
        <th>シナリオ・ルール</th>
        <th>作者名</th>
        <th>人数</th>
        <th>時間</th>
        <th>難しさ</th>
        <th>いいね！</th>
        <th>タグ</th>
        <th>更新日</th>
      </tr>
    </thead>
    <% writings.each do |writings| %>
      <tbody>
        <tr>
          <td>
            <%= link_to admin_writing_path(writings.id) do %>
              <%= image_tag writings.get_thumbnail_image(80,80) %></br>
            <% end %>
          </td>
          <td>
            <%= writings.trpg_rule.title %></br>
            <%= link_to admin_writing_path(writings.id) do %>
              <%= writings.title %>
            <% end %>
          </td>
          <td><%= writings.writing_type ? 'シナリオ' : 'ルール' %></td>
          <td><%= writings.member.name %></td>
          <td><%= writings.min_players %> ~ <%= writings.max_players %>人</td>
          <td><%= writings.min_play_time %> ~ <%= writings.max_play_time %>時間</td>
          <td>
            <span class="star-rating">
              <span class="star-rating-front" style="width: <%= writings.getPercent(writings.difficulty) %>%;">★★★★★</span>
              <span class="star-rating-back">★★★★★</span>
            </span>
          </td>
          <td><%= writings.writing_likes.count %></td>
          <td>
            <% writings.tags.each do |list| %>
              <%= list.tag_name %><br>
            <% end %>
          </td>
          <td><%= writings.updated_at.strftime('%Y/%m/%d') %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
