  <table class="table">
    <thead>
      <tr>
        <th colspan="2">タイトル</th>
        <th>シナリオ・ルール</th>
        <th>作者名</th>
        <th>タグ</th>
        <th>公開ステータス</th>
        <th>更新日</th>
      </tr>
    </thead>
    <% writings.each do |writings| %>
      <tbody>
        <tr>
          <td>
            <%= link_to admin_writing_path(writings.id) do %>
              <%= image_tag writings.get_thumbnail_image(100,100) %></br>
            <% end %>
          </td>
          <td>
            <%= writings.trpg_rule.title %></br>
            <%= link_to admin_writing_path(writings.id) do %>
              <%= writings.title %>
            <% end %>
          </td>
          <td><%= writings.writing_type ? 'シナリオ' : 'ルール' %></td>
          <td><%= writings.member.name %></td>
          <td>
            <% writings.tags.each do |list| %>
              <%= list.tag_name %>
            <% end %>
          </td>
          <td><%= writings.is_public ? '公開中' : '非公開' %></td>
          <td><%= writings.updated_at.strftime('%Y/%m/%d') %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
