<!-- ワード検索機能 -->
<%= form_with url: admin_search_path, local: true, method: :get do |f| %>
  <%= f.text_field :word, placeholder: "作品検索", class: "form-box" %>
  <%= f.submit "検索", class: "btn" %>
<% end %>

<!--タグ検索機能-->
<div class="row">
  <p class ="col">人気タグ</p>
  <%= link_to "タグ一覧へ", admin_tags_path, class: "col ml-auto" %>
</div>
<% tag_list.each do |tag| %>
  <%= link_to tag.tag_name, admin_tag_search_path(tag_id: tag.id) %>
  <%= "(#{tag.writings.count})" %>
<% end %>
