<!-- 検索機能 -->
<%= render 'search' %>
<!-- 作品詳細画面-->
<h1><%= @writing.title%>の内容</h1>
<div>
  <%= image_tag @writing.get_thumbnail_image(100,100) %>
  <div>
    <% if @writing.writing_likes.exists? %>
      <p>
        ♥<%= @writing.writing_likes.count %> いいね
      </p>
      <% else %>
      <p>
        ♡<%= @writing.writing_likes.count %> いいね
      </p>
    <% end %>
  </div>
</div>
<div>
  <div>
    <div>
      タイトル：
    </div>
    <%= @writing.title %>
  </div>
  <div>
    <div>TRPGルール：</div>
    <div>
      <%= @writing.trpg_rule.title %>
    </div>
  </div>
  <div>
    <div>シナリオ・ルール</div>
    <%= @writing.writing_type ? 'シナリオ' : 'ルール' %>
  </div>
  <div>
    <div>想定人数：</div>
    <%= @writing.min_players %> ~ <%= @writing.max_players %> 人
  </div>
  <div>
    <div>想定時間：</div>
    <%= @writing.min_play_time %> ~ <%= @writing.max_play_time %>時間
  </div>
  <div>
    <div>難しさ</div>
    <%= @writing.difficulty %>
  </div>
  <!--タグ欄-->
  <div>タグ欄</div>
  <div>
    <% if @writing_tags.present? %>
      <% @writing_tags.each do |tag| %>
        <%= "#{tag.tag_name}(#{tag.writings.count})" %>
      <% end %>
    <% end%>
  </div>
  <div>
    更新日：<%= @writing.updated_at.strftime('%Y年%m月%d日 %H:%M')%>
  </div>
</div>
<!---->
<!-- 概要 -->
<div>
  <div>概要：</div>
  <div>
    <%= @writing.summary %>
  </div>
</div>
<%= form_with model: @writing, url: admin_writing_path(@writing.id), method: :patch do |f| %>
  <%= f.select :is_public, [['公開',true],['非公開',false]] %>
  <%= f.submit "公開情報を更新", class: "" %>
<% end %>
<!-- コメント欄 -->
<%= render 'comment', writing: @writing %>