<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー -->
    <header>
      <nav>
        <div>
          <%= link_to root_path do %>
            <h1>ロゴ</h1>
          <% end %>
        </div>
        <!-- 会員側 -->
        <% if member_signed_in? %>
          <%= link_to "メンバー", members_path %>
          <!--シナリオ・ルール -->
          <!-- テストプレイ -->
          <%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
        <!-- 管理者 -->
        <% elsif admin_signed_in? %>
          <!-- メンバー -->
          <!-- シナリオ・ルール -->
          <!-- テストプレイ -->
          <!-- ログアウト -->

        <!-- ログアウト時 -->
        <% else %>
          <%= link_to "アカウントを作成", new_member_registration_path %>
          <%= link_to "ゲストログイン", member_guest_sign_in_path, method: :post %>
          <%= link_to "ログイン", new_member_session_path %>
        <% end %>
      </nav>
      <div>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
    </header>
    <!-- メイン -->
    <main>
      <%= yield %>
    </main>
    <!-- フッター -->
    <footer></footer>
  </body>
</html>
